<a href="https://colab.research.google.com/github/Fra9119/test_rep/blob/main/f1_construcotrs_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests as r
import json as j
import pandas as pd
import itertools

base_url = "http://ergast.com/api/f1/constructors.json"


#Ottengo la connessione
URL0= r.get(base_url)

#faccio il collegamento base
info=URL0.json()

#Ottengo il numero massimo di elementi dei costruttori
def get_key(key):
    return [entry[key] for entry in info.values()]
gk=(get_key('total'))
total=gk[0]


#URL della API Completa
URL1="http://ergast.com/api/f1/constructors.json?limit="+total

#effettuo la connessione aggiornata
URL=r.get(URL1)

#import i dati in json totali
constr_info=URL.json()

#Ottengo le info dei costruttori
def get_constr(constrkey):
    return [entry[constrkey] for entry in constr_info.values()]
dk1=(get_constr('ConstructorTable'))
constr_info_total1=dk1
df=pd.DataFrame(constr_info_total1)


def get_constr2(constrkey2):
    return [entry[constrkey2] for entry in constr_info_total1]
dk2=(get_constr2('Constructors'))
constrs_info_total2=dk2

#Cambio da lista a variabile da dare a pandas
constrs_info_total=list(itertools.chain(*constrs_info_total2))

# #informazioni in dataframe
df=pd.DataFrame(constrs_info_total)

#Dataset Finale

constr=df[["constructorId","name","nationality"]]


constr

    constructorId        name nationality
0           adams       Adams    American
1             afm         AFM      German
2             ags         AGS      French
3            alfa  Alfa Romeo       Swiss
4      alphatauri  AlphaTauri     Italian
..            ...         ...         ...
206        watson      Watson    American
207     wetteroth   Wetteroth    American
208      williams    Williams     British
209          wolf        Wolf    Canadian
210      zakspeed    Zakspeed      German

[211 rows x 3 columns]